*{
    margin: 0;
}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* header styles */
body{
    font-family: 'Work Sans', sans-serif;
    width: 100vw;
}
.header-container{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 200px 40px 200px;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav li{
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
/* brand new section  */

.brand-new-section{
    text-align: center;
    margin-top: 100px;
}
.brand-new-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}
.brand-new-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 33px;
}
.primary-btn{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 10px;
    border: none;
    
}
.banner-image{
    width: 950px;
    height: 600px;
    margin-top: 50px;
       
}
/* feature section */
/* feature-list-container-section */
.feature-list-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    gap: 30px;
    padding: 0 200px; 
}
.feature-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-image{
    width: 342px;
    height: 342px;
    border-radius: 8px;
}
.feature-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.feature-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}
/* feature-detail-container-section*/
.feature-detail-container{
    display: flex;
    margin-top: 30px;
    padding: 0 200px;
    justify-content: space-evenly;
    gap: 50px;
}
.feature-heading{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 10px;
    border-left: 3px solid #FF900E;
    padding-left: 10px;
}
.feature-detail{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px;
}
.feature-detail-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 5px;
}
.feature-detail-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.feature-items{
    display: flex;
    flex-direction: column;
}
.feature-detail-image{
    padding-left: 25px;
    margin-top: 10px;
}
.feature-btn{
    width: 200px;
    height: 100px;
    background-color: #FF900E;
    border-radius: 10px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    border: none;
    position: relative;
    top: -50px;
    left: -30px;
}
